/Firebase.Auth.Services/bin
/Firebase.Auth.Services/obj
/Firebase.Auth.Middleware/bin
/Firebase.Auth.Middleware/obj
/Firebase.Auth/bin
/Firebase.Auth/obj
/Firebase.Auth/firebase_app_settings.json
/.vs
/Firebase.Auth.Api/bin
/Firebase.Auth.Api/obj
/Firebase.Auth.Api/firebase_app_settings.json
